.box {
  height: 25%;
  width: 70%;
  margin: 2%;
  padding: 1%;
  background: hsla(247, 42%, 27%, 0.527);
  text-align: center;
  color: #fff;
  /*float: left;*/
}

.box a {
  color: #fff;
}

.box img {
  height: 100%;
  width: auto;
  float: left;
  border-radius: 50%;
}

.box span {
  padding-top: 20%;
  text-align: right;
  margin-top: 30%;
  font-size: 80%;
}

.code {
  font-family: "Courier New", Courier, monospace;
}

.segment {
  margin-left: 2%;
  margin-right: 30%;
  font-size: 80%;
}

.side {
  position: relative;
}
.body {
  /*padding-left: 5%;
  padding-right: 5%;*/
  margin-left: 5%;
  margin-right: 10%;
  font-size: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  /*background-color: white ;*/
}

body {
  background-color: rgb(255, 255, 255);
  background-image: url("./img/background.png");
  margin: 0;
}

.background {
  color: blue;
  padding: 0%;
}

.developer-name {
  font-size: 140%;
  text-align: center;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: purple;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

.logo {
  width: 40%;
  height: auto;
  overflow: hidden;
  margin-top: -2%;
  margin-bottom: -5%;
}

.logo img {
  margin: -10px 0px 0px -180px;
}

.sidenav {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(77, 77, 77);
  background: linear-gradient(
    90deg,
    rgba(77, 77, 77, 1) 92%,
    rgba(69, 69, 69, 1) 94%,
    rgba(57, 57, 57, 1) 97%,
    rgba(47, 47, 47, 1) 100%
  );
  overflow-x: hidden;
  padding-top: 20px;
  font-family: "Hind", sans-serif;
  font-family: "Hind Vadodara", sans-serif;
}

.sidenav a {
  padding: 6px 8px 20px 16px;
  text-decoration: none;
  font-size: 100%;
  color: #f1f1f1;
  display: block;
}

.sidenav a:hover {
  color: #fff;
  font-weight: bold;
}

.main {
  margin-left: 20%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  font-size: 140%;
  font-family: "Hind", sans-serif;
  font-family: "Hind Vadodara", sans-serif;
}

.title {
  background: rgb(255, 154, 71);
  background: linear-gradient(
    90deg,
    rgba(255, 154, 71, 1) 0%,
    rgba(255, 142, 81, 1) 32%,
    rgba(255, 117, 61, 1) 50%,
    rgba(255, 99, 71, 1) 68%,
    rgba(255, 86, 71, 1) 82%,
    rgba(255, 90, 90, 1) 96%
  );
  color: white;
  /*padding-top: 1%;
  padding-bottom: 1%;*/
  padding-left: 2%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/*--------------------------------------*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}
